{% if page.footer%}
<footer>
  <div class="custom-footer">
    <div class="custom-footer-bk-white custom-footer-primary pt-5 pl-5 pr-5">
        {{page.footer}}
    </div>
    <div class="custom-footer-bk-white navbar pl-5 pr-5">
      <div class="col-lg-4">
        {{page.primary_foot}}
      </div>
      <div class="col-lg-8">
        {{page.secondary_foot}}
      </div>
    </div>
    
    <div class="custom-footer-bk-white d-flex pr-5 pl-5 align-items-center justify-content-between custom-footer-third">
        {{page.third_foot}}
        <div class="position-relative count">
          <div class="pantalla"></div>
          <div class="powr-hit-counter" id="601493b1_1661547007"></div><script src="https://www.powr.io/powr.js?platform=html"></script>
        </div>
    </div>
    <div class="d-flex">
        {{page.four_foot}}
    </div>
  </div>
</footer>
{% endif %}
