{% if page.footer%}
<footer>
  <div class="custom-footer">
    <div class="custom-footer-bk-white custom-footer-primary pt-5 pl-5 pr-5">
        {{page.footer}}
    </div>
    <div class="custom-footer-bk-white navbar pl-5 pr-5">
      <div class="col-lg-4">
        {{page.primary_foot}}
      </div>
      <div class="col-lg-8">
        {{page.secondary_foot}}
      </div>
    </div>
    
    <div class="custom-footer-bk-white custom-footer-third">
        {{page.third_foot}}
    </div>
    <div>
        {{page.four_foot}}
    </div>
  </div>
</footer>
{% endif %}